.tobias-axis path, .tobias-axis .tick, .tobias-axis line{
    /*color: white;*/
    stroke: #fff;
}
/*fill: white;*/

#wrapper_div_border_years{
    display: inline; !important;
}

#border_years{
    margin-top: 30px;
}

.tobias-axis {
    stroke: #fff
}
#tobias-curtain{
    fill: #1D1D1D; !important
    color: #1D1D1D;
    background-color: #1D1D1D;
}

#donut {
    margin-left: 80%;
}

.tobias-line{
}

.tobias-map-element path:hover {
    fill: white;
}

circle.scatter-circle:hover  {
    fill: white;
}

path.tobias-map-element:hover {
    fill: white;
}

circle .scatter-circle:hover  {
    fill: white;
}

/*circle:hover{*/
/*    fill: white;*/
/*}*/

/*path:hover{*/
/*    fill: white;*/
/*}*/

#Tobias-dynamic-text1{
    min-height: 350px;

}