.tobias-axis path, .tobias-axis .tick, .tobias-axis line{
    /*color: white;*/
    stroke: #fff;
}
/*fill: white;*/

ul li::before {
    color: white; /* Change the color */
}
.axis {
    font: 15px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.bar-element:hover {
    fill: yellow;
    opacity: 1;
}

#wrapper_div_border_years{

    display: inline; !important;
}

#wrapper_div_connected_map{
    display: inline; !important;

}

#border_years{
    margin-top: 30px;
}

.tobias-axis {
    stroke: #fff
}
#tobias-curtain{
    fill: #1D1D1D; !important
    color: #1D1D1D;
    background-color: #1D1D1D;
}

#donut {
}

.glow-1 {
    text-shadow: yellow;
}

polyline{
    opacity: 0.8;
    stroke: white;
    stroke-width: 2px;
    fill: none;
}

.tobias-line{
}

.tobias-map-element path:hover {
    fill: white;
}

circle.scatter-circle:hover  {
    fill: white;
}

path.tobias-map-element:hover {
    fill: white;
}

circle .scatter-circle:hover  {
    fill: white;
}

/*circle:hover{*/
/*    fill: white;*/
/*}*/

/*path:hover{*/
/*    fill: white;*/
/*}*/

#Tobias-dynamic-text1{
    min-height: 350px;

}

#map-wrapper{
    display: inline;
}
#tooltip{
    text-align: center;
}

#Tobias-dynamic-text1{
    max-width: 250px;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    margin-bottom: 10px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.legend-tobias{
    fill: white;
}


.Tobias-connected-page-header{
    min-height: 150px;
    max-height: 150px;
}

#map-update-select, #scatter-update-select{
    text-align: center;
}

#Tobias-dynamic-text2{
    min-height: 450px;
    max-height: 450px;
    min-width: 400px;
}

